    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
        <link id="syntax-css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/native.css">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">

        {% if page.mathjax %}
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        {% endif %}

        {% if page.pannellum %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
        {% endif %}

        {% if site.tags != "" %}
            {% include collecttags.html %}
        {% endif %}

        {% seo %}
    </head>


